@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

:root {
  --nav-hover: #95a5a6;
  --home-font: white;
  --nav-sticky: black;
  --card-background: #f0efef;
}

* {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}


/* Initial Window */

.navbar * {
  color: var(--home-font) !important;
  font-weight: 600;
}

.navbar.sticky {
  background-color: var(--nav-sticky) !important;
  opacity: 0.8;
}

.navbar-brand:hover,
.nav-item a:hover {
  color: var(--nav-hover) !important;
}

.main-image img {
  width: 99vw;
  height: 100vh;
}

.title {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--home-font);
  font-weight: 800;
  letter-spacing: 8px;
  position: absolute;
  animation: text 2.5s 1;
  text-align: center;
}

@keyframes text {
  0% {
    /* color: black; */
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
}

/* About Section */

#about {
  padding-top: 65px !important;
  transform: translateZ(1px);
  background-color: white;
}

.about__name {
  font-weight: 700;
  letter-spacing: 10px;
}

.about__short {
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.description {
  padding: 10px;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: justify;
  border-radius: 5px;
  background-color: var(--card-background);
}

.description__image {
}

.description__para {
  padding-top: 30px;
}

.parallax {
  background-image: url('https://images.unsplash.com/photo-1431440869543-efaf3388c585?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80');
  min-height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Works Section */

.topic {
  margin-top: 40px;
  margin-bottom: 20px;
}

.topic h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 800;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 16px 0;
  grid-gap: 22px;
}

.topic h2:after, .topic h2:before {
  content: " ";
  display: block;
  border-bottom: 2px solid #ccc;
}

.portfolio-works__topic {
  padding-top: 60px;
}

.portfolio-works__container {
  display: flex;
  column-gap: 20px;
}

.our-services {
  margin-top: 50px;
}

.our-services__card {
  width: 280px;
}

.card__image {
  width: 100px;
  padding: 20px 0;
}

.flip-container {
  margin: 0 auto 60px auto;
  width: 280px;
  height: 250px;
  border-radius: 15px;
  cursor: pointer;
}

.flip-container:hover .flipper {
  -webkit-transform: rotateY(180deg);
  cursor: pointer;
}

.flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
  cursor: pointer;
}

/*.google-card{

}

.google-card-back{

}

.twitter-card{
  background-image: linear-gradient(to right top, #0016ff, #0041ff, #005afa, #206ef2, #4980e6, #5782d9, #6384cd, #6d86c0, #687bb2, #6270a4, #5c6596, #565b89);
}

.pos-card{

}*/

.front {
  width: 280px;
  height: 250px;
  border-radius: 15px;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: lightblue;
  box-shadow: 0 0 8px -1px rgba(122, 122, 122, 0.5);
}

.front h3 {
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
  color: white;
  font-weight: 600;
  text-shadow: 2px 2px #95a5a6;
}

.front img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.back {
  width: 280px;
  height: 250px;
  border-radius: 15px;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  text-align: center;
  font-size: 18px;
  color: white;
  background-color: #9BB7D4;
}

.back h3 {
  margin-top: 20px;
  text-shadow: 2px 2px #95a5a6;
}

.back p {
  font-size: 14px;
  margin-right: 15px;
  margin-top: 25%;
  font-weight: 600;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

#contact {
  background-color: #95a5a6;
  height: 100%;
  font-size: 50px;
  text-align: center;
  word-spacing: 50px;
  line-height: 100px;
}

.fa-linkedin {
  color: #1d9bf0;
}

.fa-twitter {
  color: rgb(29, 155, 240);
}

.fa-github {
  color: grey;
}
