@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --nav-hover: #95a5a6;
  --home-font: white;
  --nav-sticky: black;
  --card-background: #f0efef;
}

* {
  font-family: "Montserrat", sans-serif;
}
/* Initial Window */

.navbar * {
  color: var(--home-font) !important;
  font-weight: 600;
}

.navbar.sticky {
  background-color: var(--nav-sticky) !important;
  opacity: 0.8;
}

.navbar-brand:hover,
.nav-item a:hover {
  color: var(--nav-hover) !important;
}

.main-image img {
  width: 100vw;
  height: 100vh;
}

.title {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--home-font);
  font-weight: 800;
  letter-spacing: 8px;
  position: absolute;
  animation: text 2.5s 1;
  text-align: center;
}

@keyframes text {
  0% {
    /* color: black; */
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
}

/* About Section */

#about {
  padding-top: 65px !important;
  transform: translateZ(1px);
  background-color: white;
}

.about__name {
  font-weight: 700;
  letter-spacing: 10px;
}

.about__short {
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.description {
  padding: 10px;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: justify;
  border-radius: 5px;
  background-color: var(--card-background);
}

.description__image {
}

.description__para {
  padding-top: 30px;
}

/* Works Section */

.services {
  position: relative;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.services__box {
  position: relative;
  width: 350px;
  height: 280px;
  background: #51446e;
  border-radius: 20px;
  overflow: hidden;
}

.services__box:hover .services__content {
  transform: scale(1);
  transition-delay: 0.25s;
}

.services__box:hover .services__icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 30px;
  left: calc(50% - 40px);
  transition-delay: 0s;
}

.services__box:hover .services__icon i {
  font-size: 2rem;
  transition-delay: 0s;
}

.services__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--i);
  transition: 0.5s;
  z-index: 2;
  transition-delay: 0.25s;
}

.services__icon i {
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
  transition-delay: 0s;
}

.services__content {
  position: relative;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 100px;
  z-index: 1;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

.services__title {
  margin: 10px 0 5px 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.services__description {
  font-size: 0.95rem;
  font-weight: 400;
  padding-top: 10px;
}
