.box.scale {
  transform: scale(0);
  transition: transform .8s ease;
}

.box.scale.show {
  transform: scale(1);
}

.box.opacity {
  transition: 2s;
  opacity: 0;
}

.box.opacity.show {
  opacity: 1;
}

.box.opacity-scale {
  opacity: 0;
  transition: 1.5s;
  transform: scale(0);
}

.box.opacity-scale.show {
  opacity: 1;
  transform: scale(1);
}

